body section #section-2 #login-btn a {
  width: 100%;
  padding: 0.75em 0;
  text-align: center;
  border-radius: 1.375em;
  background-color: #61e48b;
  color: white;
  font-size: 1.25em;
  font-weight: 600;
}

body nav {
  -ms-flex-preferred-size: 15vh;
      flex-basis: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body nav img {
  width: 35%;
  margin: auto;
}

body footer {
  -ms-flex-preferred-size: 10vh;
      flex-basis: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer div {
  background-color: #e7e7e7;
  margin: auto;
  width: 25%;
  padding: 2px 0;
}

body footer #bar1 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

body footer #bar4 {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

* {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: initial;
}

input {
  outline: none;
  border: none;
}

#layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#loader-message {
  position: fixed;
  text-align: center;
  width: inherit;
  top: 88vh;
  font-size: 3vw;
}

#loader-parent {
  position: fixed;
  width: inherit;
  right: 9vw;
  top: 50vh;
}

@media (min-width: 720px) {
  nav img {
    width: 25% !important;
  }
  section,
  footer {
    width: 80% !important;
    margin: 0 auto !important;
  }
  section #section-1 #login-cover {
    font-size: 6.9vw !important;
  }
  section #section-1 #login-text {
    font-size: 4.67vw !important;
  }
  section #section-1 .cover.logo img {
    width: 30% !important;
  }
  section #section-1 #network-cover {
    font-size: 7vw !important;
  }
  section #section-1 #password-cover,
  section #section-1 #registration-cover {
    font-size: 5.8vw !important;
  }
  section #section-2 #networks .network a {
    font-size: 1.4em;
  }
  section #section-3 #scan-btn {
    font-size: 1.8em !important;
  }
  #loader-parent {
    right: 7vw;
  }
}

@media (min-width: 1024px) {
  nav {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
  nav img {
    width: 12% !important;
    margin: auto 0 !important;
  }
  section,
  footer {
    width: 60% !important;
    margin: 0 auto !important;
  }
  section #section-1 #login-cover {
    font-size: 5.1vw !important;
  }
  section #section-1 #login-text {
    font-size: 3.5vw !important;
  }
  section #section-1 #network-cover {
    font-size: 5vw !important;
  }
  section #section-1 #password-cover,
  section #section-1 #registration-cover {
    font-size: 4.3vw !important;
  }
  #loader-parent {
    right: 6.5vw;
  }
  #loader-message {
    font-size: 2.5vw;
  }
}

@media (min-width: 1224px) {
  section,
  footer {
    width: 50% !important;
    margin: 0 auto !important;
  }
  section #section-1 #login-cover {
    font-size: 4.3vw !important;
  }
  section #section-1 #login-text {
    font-size: 2.9vw !important;
  }
  section #section-1 #password-cover,
  section #section-1 #registration-cover {
    font-size: 3.5vw !important;
  }
  #loader-parent {
    right: 6.2vw;
  }
}

body {
  width: 90% !important;
  margin: 0 auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body section {
  -ms-flex-preferred-size: 75vh;
      flex-basis: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body section #section-1 {
  -ms-flex-preferred-size: 56vh;
      flex-basis: 56vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5vh;
}

body section #section-1 #login-cover {
  -ms-flex-preferred-size: 18vh;
      flex-basis: 18vh;
  text-align: center;
  font-size: 8.6vw;
  color: #9a9a9a;
}

body section #section-1 #login-cover-logo {
  text-align: center;
  -ms-flex-preferred-size: 22vh;
      flex-basis: 22vh;
}

body section #section-1 #login-cover-logo img {
  width: 35%;
}

body section #section-1 #login-text {
  text-align: center;
  font-size: 5.84vw;
  -ms-flex-preferred-size: 16vh;
      flex-basis: 16vh;
}

body section #section-2 {
  -ms-flex-preferred-size: 14vh;
      flex-basis: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body section #section-2 #login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer #bar1 {
  background-color: #61e48b !important;
}
/*# sourceMappingURL=login.css.map */