body section #section-3 #app-store-btn {
  width: 100%;
  padding: 0.75em 0;
  text-align: center;
  border-radius: 1.375em;
  background-color: #61e48b;
  color: white;
  font-size: 1em;
  font-weight: 600;
}

body section #section-3 #logout-btn {
  width: 100%;
  padding: 0.75em 0;
  text-align: center;
  border-radius: 1.375em;
  border: 2px solid #61e48b;
  color: #61e48b;
  font-size: 1em;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

* {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: initial;
}

input {
  outline: none;
  border: none;
}

#layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#loader-message {
  left: 15%;
  top: 85%;
  position: absolute;
}

@media (min-width: 360px) {
  #loader-message {
    left: 20% !important;
  }
}

@media (min-width: 415px) {
  section #section-1 .cover {
    font-size: 3.5em !important;
    -ms-flex-preferred-size: 18vh !important;
        flex-basis: 18vh !important;
  }
  footer div {
    padding: 4px 0 !important;
  }
  #loader-message {
    left: 22% !important;
  }
}

@media (min-width: 768px) {
  section #section-1 .cover {
    font-size: 5em !important;
  }
  .loader {
    left: 46% !important;
  }
  #loader-message {
    left: 26% !important;
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  nav {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
  nav img {
    width: 12% !important;
    margin: auto 0 !important;
  }
  section,
  footer {
    width: 70% !important;
    margin: 0 auto !important;
  }
  section #section-1 .cover {
    font-size: 2.5em !important;
  }
  .loader {
    left: 48% !important;
  }
  #loader-message {
    left: 29% !important;
    font-size: 30px;
  }
}

@media (min-width: 1224px) {
  section,
  footer {
    width: 50% !important;
    margin: 0 auto !important;
  }
  #loader-message {
    left: 35% !important;
  }
}

@media (min-width: 1400px) {
  #loader-message {
    left: 37% !important;
  }
}

body section #section-2 {
  -ms-flex-preferred-size: 0vh;
      flex-basis: 0vh;
  text-align: center;
  font-size: 1em;
  padding-bottom: 0em;
}

body section #section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 0;
  margin-top: 6vh;
}

body section #section-3 a {
  margin: 0 auto;
}

body section #section-3 #app-store-btn {
  margin-bottom: 2vh;
}

@media (min-width: 416px) {
  section #section-2 {
    font-size: 2em !important;
  }
  section #section-3 a {
    font-size: 2em !important;
  }
}

@media (min-width: 769px) {
  section #section-2 {
    font-size: 2.5em !important;
  }
  section #section-3 a {
    font-size: 2.5em !important;
  }
}

@media (min-width: 1025px) {
  section #section-2 {
    font-size: 1.5em !important;
  }
  section #section-3 a {
    font-size: 1.2em !important;
    width: 60% !important;
    padding: 0.6em 0;
  }
}
/*# sourceMappingURL=success.css.map */