@font-face {
    font-family: 'Lato-Regular';
    src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

%flex-display-column {
    display: flex;
    flex-direction: column;
}

%green-btn-filled {
    width: 100%;
    padding: 0.75em 0;
    text-align: center;
    border-radius: 2.5em;
    background-color: #50e17e;
    color: #ffffff;
    font-size: 1.25em;
    font-weight: 600;
    opacity: 90%;
    font-family: 'Lato-Regular', sans-serif;
}

%green-btn-hollow {
    width: 100%;
    padding: 0.75em 0;
    text-align: center;
    border-radius: 2.5em;
    border: 2px solid #50e17e;
    color: #50e17e;
    font-size: 1.25em;
    font-weight: 600;
    font-family: 'Lato-Regular', sans-serif;
}

%nav-bar {
    nav {
        flex-basis: 15vh;
        display: flex;
        justify-content: center;

        img {
            width: 40%;
            margin: auto;
        }
    }
}

%footer {
    flex-basis: 10vh;
    display: flex;
    justify-content: center;

    div {
        background-color: #e7e7e7;
        margin: auto;
        width: 25%;
        padding: 3px 0;
    }
}