* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    color: initial;
}

input {
    outline: none;
    border: none;
}

#layout {
    display: flex;
    flex-direction: column;
}

#loader-message {
    left: 15%;
    top: 85%;
    position: absolute;
}