@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    color: initial;
}

input {
    outline: none;
    border: none;
}

#layout {
    display: flex;
    flex-direction: column;
}

#loader-message {
    position: fixed;
    text-align: center;
    width: inherit;
    top: 88vh;
    font-size: 3vw;
}

#loader-parent {
    position: fixed;
    width: inherit;
    right: 9vw;
    top: 50vh;
}