@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../assets/fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../assets/fonts/Lato/Lato-Light.ttf');
}

* {
    font-family: 'Montserrat-Medium', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    color: initial;
}

input {
    outline: none;
    border: none;
}

#layout {
    display: flex;
    flex-direction: column;
}

#loader-message {
    position: fixed;
    text-align: center;
    width: inherit;
    top: 88vh;
    font-size: 5vw;
}

#loader-parent {
    position: fixed;
    width: inherit;
    right: 9vw;
    top: 50vh;
}