//define mixins
@import "mixins";

@include for-tablet($min: 720px) {
    nav {
        img {
            width: 25% !important;
        }
    }

    section,
    footer {
        @include wrapper($width: 80%);
    }

    section {
        #section-1 {
            #login-cover {
                font-size: 6.9vw !important;
            }

            #login-text {
                font-size: 4.67vw !important;
            }

            .cover.logo {
                img {
                    width: 30% !important;
                }
            }

            #network-cover {
                font-size: 7vw !important;
            }

            #password-cover,
            #registration-cover {
                font-size: 5.8vw !important;
            }
        }

        #section-2 {
            #networks {
                .network {
                    a {
                        font-size: 1.4em;
                    }
                }
            }
        }

        #section-3 {
            #scan-btn {
                font-size: 1.8em !important;
            }
        }
    }

    #loader-parent {
        right: 7vw;
    }
}

@include for-desktop($min: 1024px) {
    nav {
        justify-content: start !important;

        img {
            width: 12% !important;
            margin: auto 0 !important;
        }
    }

    section,
    footer {
        @include wrapper($width: 60%);
    }

    section {
        #section-1 {
            #login-cover {
                font-size: 5.1vw !important;
            }

            #login-text {
                font-size: 3.5vw !important;
            }

            #network-cover {
                font-size: 5vw !important;
            }

            #password-cover,
            #registration-cover {
                font-size: 4.3vw !important;
            }
        }

    }

    #loader-parent {
        right: 6.5vw;
    }

    #loader-message {
        font-size: 2.5vw;
    }
}


@include for-desktop($min: 1224px) {

    section,
    footer {
        @include wrapper($width: 50%);
    }

    section {
        #section-1 {
            #login-cover {
                font-size: 4.3vw !important;
            }

            #login-text {
                font-size: 2.9vw !important;
            }

            #password-cover,
            #registration-cover {
                font-size: 3.5vw !important;
            }

        }

    }

    #loader-parent {
        right: 6.2vw;
    }
}