@font-face {
  font-family: 'Lato-Regular';
  src: url("../assets/fonts/Lato/Lato-Regular.ttf");
}

body section #section-3 a {
  width: 100%;
  padding: 0.75em 0;
  text-align: center;
  border-radius: 2.5em;
  border: 2px solid #50e17e;
  color: #50e17e;
  font-size: 1.25em;
  font-weight: 600;
  font-family: 'Lato-Regular', sans-serif;
}

body nav {
  -ms-flex-preferred-size: 15vh;
      flex-basis: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body nav img {
  width: 40%;
  margin: auto;
}

body footer {
  -ms-flex-preferred-size: 10vh;
      flex-basis: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer div {
  background-color: #e7e7e7;
  margin: auto;
  width: 25%;
  padding: 3px 0;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../assets/fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../assets/fonts/Lato/Lato-Light.ttf");
}

* {
  font-family: 'Montserrat-Medium', sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: initial;
}

input {
  outline: none;
  border: none;
}

#layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#loader-message {
  position: fixed;
  text-align: center;
  width: inherit;
  top: 88vh;
  font-size: 5vw;
}

#loader-parent {
  position: fixed;
  width: inherit;
  right: 9vw;
  top: 50vh;
}

@media (min-width: 720px) {
  nav img {
    width: 30% !important;
  }
  section,
  footer {
    width: 80% !important;
    margin: 0 auto !important;
  }
  section #section-1 #login-cover {
    font-size: 6.8vw !important;
  }
  section #section-1 #login-text {
    font-size: 4.67vw !important;
  }
  section #section-1 .cover.logo img {
    width: 30% !important;
  }
  section #section-1 #network-cover {
    font-size: 7vw !important;
  }
  section #section-1 #password-cover,
  section #section-1 #registration-cover {
    font-size: 5.8vw !important;
  }
  section #section-2 #networks .network a {
    font-size: 1.4em;
  }
  section #section-3 #scan-btn {
    font-size: 1.8em !important;
  }
  #loader-parent {
    right: 7vw;
  }
}

@media (min-width: 1024px) {
  nav {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
  nav img {
    width: 18% !important;
    margin: auto 0 !important;
  }
  section,
  footer {
    width: 60% !important;
    margin: 0 auto !important;
  }
  section #section-1 #login-cover {
    font-size: 5.1vw !important;
  }
  section #section-1 #login-text {
    font-size: 3.5vw !important;
  }
  section #section-1 #network-cover {
    font-size: 5vw !important;
  }
  section #section-1 #password-cover,
  section #section-1 #registration-cover {
    font-size: 4.3vw !important;
  }
  #loader-parent {
    right: 6.5vw;
  }
  #loader-message {
    font-size: 2.5vw;
  }
}

@media (min-width: 1224px) {
  section,
  footer {
    width: 50% !important;
    margin: 0 auto !important;
  }
  section #section-1 #login-cover {
    font-size: 4.3vw !important;
  }
  section #section-1 #login-text {
    font-size: 2.9vw !important;
  }
  section #section-1 #password-cover,
  section #section-1 #registration-cover {
    font-size: 3.5vw !important;
  }
  #loader-parent {
    right: 6.2vw;
  }
}

body {
  width: 90% !important;
  margin: 0 auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body section {
  -ms-flex-preferred-size: 75vh;
      flex-basis: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body section #section-1 {
  -ms-flex-preferred-size: 20vh;
      flex-basis: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5vh;
}

body section #section-1 #network-cover {
  -ms-flex-preferred-size: 16vh;
      flex-basis: 16vh;
  text-align: center;
  font-size: 8vw;
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Montserrat-SemiBold', sans-serif;
  opacity: 54%;
}

body section #section-1 #bar {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e7e7e7;
  width: 20%;
  padding: 2px 0;
  border-radius: 25px;
}

body section #section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 32vh;
      flex-basis: 32vh;
}

body section #section-2 #networks {
  -ms-flex-preferred-size: 28vh;
      flex-basis: 28vh;
  overflow: scroll;
}

body section #section-2 #networks .network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body section #section-2 #networks .network a {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  color: #000000;
  font-family: 'Lato-Light', sans-serif;
}

body section #section-2 #networks .network img {
  height: 16px;
  margin: auto 0;
}

body section #section-2 #networks .network .wifi-signal {
  margin-right: 12px !important;
}

body section #section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section #section-3 a {
  width: 50% !important;
  font-size: 1.5em !important;
}

body footer #bar1,
body footer #bar2 {
  background-color: #61e48b !important;
}

body footer #bar2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*# sourceMappingURL=network.css.map */