//define variables
@import "variables";

//define functions
@import "functions";

//define mixins
@import "mixins";

//define extentions
@import "extentions";

//define globals
@import "globals";

//media queries
@import "media-queries";


body {
    @include wrapper($width: 80%);
    @include flex($direction: column);

    @extend %nav-bar;

    section {
        flex-basis: 65vh;
        @include flex($direction: column);

        #section-1 {
            flex-basis: 24vh;
            @include flex($direction: column);
            padding-top: 5vh;

            #cover {
                flex-basis: 20vh;
                text-align: center;
                font-size: 2em;
                color: #9a9a9a;
            }

            #bar {
                margin: 0 auto;
                display: flex;
                background-color: #e7e7e7;
                width: 20%;
                padding: 2px 0;
                border-radius: 25px;
            }
        }

        #section-2 {
            @include flex($direction: column);
            flex-basis: 32vh;



            #networks {
                flex-basis: 28vh;
                overflow: scroll;

                .network {
                    @include flex($justify: space-between);
                    padding: 10px 0;
                    flex: 1;

                    a {
                        flex: 0.8;
                    }

                    img {
                        height: 16px;
                        margin: auto 0;
                    }

                    .wifi-signal {
                        // flex: 0.2;
                        margin-right: 12px !important;
                    }

                    // flex-basis: 35vh;
                }
            }
        }

        #section-3 {
            @include flex($justify: center);

            a {
                @extend %green-btn-hollow;
            }
        }
    }

    footer {
        @extend %footer;

        #bar1,
        #bar2 {
            background-color: #61e48b !important;
        }
    }
}