//define variables
@import "variables";

//define functions
@import "functions";

//define mixins
@import "mixins";

//define extentions
@import "extentions";

//define globals
@import "globals";

//media queries
@import "media-queries";


body {
    @include wrapper($width: 90%);
    @include flex($direction: column);

    @extend %nav-bar;

    section {
        flex-basis: 75vh;
        @include flex($direction: column);

        #section-1 {
            flex-basis: 20vh;
            @include flex($direction: column);
            padding-top: 5vh;

            #network-cover {
                flex-basis: 16vh;
                text-align: center;
                font-size: 8vw;
                color: rgba(0, 0, 0, 0.54);
                font-family: 'Montserrat-SemiBold', sans-serif;
                opacity: 54%;
            }

            #bar {
                margin: 0 auto;
                display: flex;
                background-color: #e7e7e7;
                width: 20%;
                padding: 2px 0;
                border-radius: 25px;
            }
        }

        #section-2 {
            @include flex($direction: column);
            flex-basis: 32vh;

            #networks {
                flex-basis: 28vh;
                overflow: scroll;
                // @include wrapper($width: 90%);

                .network {
                    @include flex($justify: space-between);
                    padding: 10px 0;
                    flex: 1;

                    a {
                        flex: 0.8;
                        color: #000000;
                        font-family: 'Lato-Light', sans-serif;
                    }

                    img {
                        height: 16px;
                        margin: auto 0;
                    }

                    .wifi-signal {
                        // flex: 0.2;
                        margin-right: 12px !important;
                    }

                    // flex-basis: 35vh;
                }
            }
        }

        #section-3 {
            @include flex($justify: center);

            a {
                @extend %green-btn-hollow;
                width: 50% !important;
                font-size: 1.5em !important;
            }
        }
    }

    footer {
        @extend %footer;

        #bar1,
        #bar2 {
            background-color: #61e48b !important;
        }

        #bar2 {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}