//define variables
@import "variables";

//define functions
@import "functions";

//define mixins
@import "mixins";

//define extentions
@import "extentions";

//define globals
@import "globals";

//media queries
@import "media-queries";


body {
    @include wrapper($width: 90%);
    @include flex($direction: column);

    @extend %nav-bar;

    section {
        flex-basis: 65vh;
        @include flex($direction: column);

        #section-1 {
            flex-basis: 28vh;
            @include flex($direction: column);
            padding-top: 5vh;

            #cover {
                flex-basis: 20vh;
                text-align: center;
                font-size: 2em;
                color: #9a9a9a;
            }

            #sub-cover {
                text-align: center;
                font-size: 1em;
                color: #9a9a9a;
            }
        }

        #section-2 {
            // flex-basis: 10vh;
            // margin: 0 auto;
            display: flex;
            justify-content: center;

            input {
                border: 2px solid #9a9a9a;
                border-radius: 10px;
                padding: 12px 8px;
                width: 90%;
            }
        }

        #section-3 {
            @include flex($direction: column);
            margin: auto 0;
            margin-top: 6vh;

            a {
                margin: 0 auto;
            }

            #connect-btn {
                @extend %green-btn-filled;
                margin-bottom: 2vh;
            }

            #back-btn {
                @extend %green-btn-hollow;
            }
        }
    }

    footer {
        @extend %footer;

        #bar1,
        #bar2,
        #bar3 {
            background-color: #61e48b !important;
        }

        .finish {
            background-color: #61e48b !important;
        }
    }
}

@include for-tablet($min: 416px) {
    section {
        #section-1 {
            #sub-cover {
                font-size: 2em !important;
            }
        }

        #section-2 {
            input {
                padding: 18px 8px !important;
                font-size: 1.5em !important;
            }
        }

        #section-3 {
            a {
                font-size: 2em !important;
            }
        }
    }
}

@include for-tablet($min: 769px) {
    section {
        #section-1 {
            #sub-cover {
                font-size: 3em !important;
            }
        }

        #section-2 {
            input {
                padding: 22px 8px !important;
                font-size: 1.5em !important;
            }
        }

        #section-3 {
            a {
                font-size: 2.5em !important;
            }
        }
    }
}

@include for-tablet($min: 1025px) {
    section {
        #section-1 {
            #sub-cover {
                font-size: 1.5em !important;
            }
        }

        #section-2 {
            input {
                padding: 12px 8px !important;
                font-size: 1em !important;
            }
        }

        #section-3 {
            a {
                font-size: 1.2em !important;
                width: 60% !important;
                padding: 0.6em 0;
            }
        }
    }
}