body footer {
  -ms-flex-preferred-size: 20vh;
      flex-basis: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer div {
  background-color: #e7e7e7;
  margin: auto;
  width: 25%;
  padding: 2px 0;
  border-radius: 25px;
}

body nav {
  -ms-flex-preferred-size: 15vh;
      flex-basis: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body nav img {
  width: 40%;
  margin: auto;
}

body section #section-3 #connect-btn {
  width: 80%;
  padding: 0.75em 0;
  text-align: center;
  border-radius: 1.375em;
  background-color: #61e48b;
  color: white;
  font-size: 1em;
  font-weight: 600;
}

body section #section-3 #back-btn {
  width: 80%;
  padding: 0.75em 0;
  text-align: center;
  border-radius: 1.375em;
  border: 2px solid #61e48b;
  color: #61e48b;
  font-size: 1em;
  font-weight: 600;
}

a {
  text-decoration: none;
  outline: none;
  color: initial;
}

input {
  outline: none;
  border: none;
}

body {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body section {
  -ms-flex-preferred-size: 65vh;
      flex-basis: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body section #section-1 {
  -ms-flex-preferred-size: 28vh;
      flex-basis: 28vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5vh;
}

body section #section-1 #cover {
  -ms-flex-preferred-size: 20vh;
      flex-basis: 20vh;
  text-align: center;
  font-size: 2em;
  color: #9a9a9a;
}

body section #section-1 #sub-cover {
  text-align: center;
  font-size: 1em;
  color: #9a9a9a;
}

body section #section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section #section-2 input {
  border: 1px solid #9a9a9a;
  border-radius: 10px;
  padding: 12px 8px;
  width: 90%;
}

body section #section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 0;
}

body section #section-3 a {
  margin: 0 auto;
}

body section #section-3 #connect-btn {
  margin-bottom: 2vh;
}

body footer #bar1,
body footer #bar2,
body footer #bar3 {
  background-color: #61e48b !important;
}

body footer .finish {
  background-color: #61e48b !important;
}
/*# sourceMappingURL=password.css.map */